# Middleware Interno (Azure). Debe terminar en /api/v1
VITE_API_URL=https://rentix-middleware-interno-api-c0f5g8djhnbkejcs.chilecentral-01.azurewebsites.net/api/v1

# Desarrollo local (opcional)
# VITE_API_URL=http://localhost:5201/api/v1

# Cloudinary (subida de imágenes de vehículos)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
